header .topbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 2rem;
    > * {
        margin: 1.2rem 0rem;
    }
    .empty-cart-message{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 1.5em;
        img {
            width: 10rem;
            height: 10rem;
        }
        .primary-btn {
            margin: 1rem 0;
            text-decoration: none;
        }
    }
    .order-item {
        /* border: 1px solid green; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem 2em;
        margin-left: 1em;
        height: 6em;
        padding: 0;
        > img {
            width: 6rem;
            height: 100%;
            object-fit: cover;
        }
        .delete-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 5%;
            height: 100%;
            margin: auto;
            margin-right: 0;
            .delete-btn {
                margin: auto 3em;
                cursor: pointer;
                height: 2rem;
                width: 2rem;
            }
        }
        .order-item-name{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            width: 30%;
            margin-left: 2em;
            > p {
                padding: 1rem;
                width: 100%;
                display: inline-block;
                text-align: left;
                /* border: 1px solid var(--light-grey); */
            }
        }
        > * {
            /* border: 1px solid var(--light-grey); */
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .price-box {
            width: 30%;
            min-width: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                font-weight: bolder;
                font-size: 1rem;
                width: 80%;
                text-align: right;
                margin: auto;
                /* border: 1px solid var(--light-grey); */
            }
        }
    }
    h2{
        width: 100%;
        text-align: right;
        font-weight: bolder;
        span {
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
    h3 {
        font-weight: bolder;
        margin: 0 0 1rem 0.7rem;
    }
    section {
        width: 100%;
        padding: 1.1em;
        background-color: var(--lighter-grey);
    }
    #process-payment {
        margin: 2rem 0 3rem auto;
    }
    .delivery-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .delivery-option-img {
            width: 2rem;
            height: 2rem;
        }
        .delivery-option-text {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            > * {
                margin: 0.1rem 0;
            }
        }
        span {
            font-weight: lighter;
            font-size: 0.8rem;
            color: var(--dark-grey);
        }
    }
    .payment-option{
        margin: 0.6rem 1rem;
        input[type='radio'] {
            margin: 0.5rem;
        }
    }
}