.items {
    display: flex;
    flex-direction: column;
    #expand-btn {
        margin: 0.6em;
        margin-bottom: 3em;
        align-self: center;
    }
    .item-list {
        --card-width: 150px; 
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin: 1em 0 2em 0;
        > * {
            margin: 1em;
        }
        .item-card {
            width: var(--card-width);
            background-color: var(--item-card-color);
            height: 300px;
            > img {
                width: 100%;
                height: var(--card-width);
                object-fit: cover;
            }
            > div {
                margin: 0.2em;
            }
            .item-card-info {
                padding: 0.4em;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                > * {
                    margin-top: 0;
                    margin: 0.1em;
                }
                > .price-info {
                    margin-top: 0.4em;
                    font-weight: bolder;
                    margin-right: 0;
                }
                > .size-info {
                    font-size: 1.1em;
                    font-weight: lighter;
                    margin: 0.3em 0;
                }
                > .type-info, > .category-info {
                    font-size: 0.8em;
                    font-weight: lighter;
                    margin-right: 0;
                }
            }
        }
        a {
            width: var(--card-width);
        }
    }
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    > * {
        margin: 0.5em 0;
    }
    > .filters-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        > * {
            margin: 0em 2em;
        }
        select {
            width: 100%;
            padding: 0.5em;
            border-radius: 0em;
            border: 3px solid var(--dark-green);
            font-size: 0.9em;
        }
    }
    a {
        text-decoration: none;
        color: var(--dark-green);
        align-self: flex-end;
        margin-right: 3em;
        font-size: 0.9em;
        margin-bottom: 0;
    }
}