.returns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    h1{
        text-align: center;
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 10px;
    }
    .textarea{
        background-color: var(--lighter-grey);
        padding: 1rem;
        padding-bottom: 5rem;
        width: 100%;
        border-style: none;
    }

    .primary-btn{
        display: block;
        text-align: right;
        margin: 2rem 0 3rem auto;
        background-color: var(--dark-green);
        color: white;
        padding: 0.5rem 1rem;
        border-color: white;
        border-radius: 5px;
        cursor: pointer;
    }
}

.instructions{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: var(--lighter-grey);
    padding: 2rem 0 2rem 2rem;
    margin: 2rem 4rem 2rem 2rem;
    
    h2{
        margin-bottom: 10px;
    }
    ol li{
        list-style-type:decimal;
        margin-bottom: 10px;
    }
}

.primary-btn{
    display: block;
    text-align: center;
    margin: 2rem auto;
    background-color: var(--dark-green);
    color: white;
    padding: 0.5rem 1rem;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;

}
.go-home-btn {
    display: block;
    text-align: center;
    margin: 2rem auto;
    background-color: var(--dark-green);
    color: white;
    padding: 0.5rem 1rem;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
}